@charset "UTF-8";
@import url("https://s.w.org/wp-includes/css/dashicons.css");
/**
 * Background grid - reusable effect
 * Grid: 3x3
 * Image defined by using background image, with lines
 */
/**
 * Convert a table with many columns into a table with two columns
 */
/*
 * Scanlines effect
 * @param {Number} $line-distance      - distance between lines
 * @param {Color}  $line-color         - color of the lines
 * @param {Number} $animation-times    - number of times the animation will run
 * @param {Number} $animation-duration - duration of the animation
 */
@keyframes scanlines {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 100%; } }

/**
 * Caret animation
 */
@keyframes caret-blink {
  50% {
    opacity: 0; } }

/**
 * Background grid - reusable effect
 * Grid: 3x3
 * Image defined by using background image, with lines
 */
/**
 * Convert a table with many columns into a table with two columns
 */
/*
 * Scanlines effect
 * @param {Number} $line-distance      - distance between lines
 * @param {Color}  $line-color         - color of the lines
 * @param {Number} $animation-times    - number of times the animation will run
 * @param {Number} $animation-duration - duration of the animation
 */
@keyframes scanlines {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 100%; } }

/**
 * Caret animation
 */
@keyframes caret-blink {
  50% {
    opacity: 0; } }

/*
 * Form elements
 */
/*
 * Contact Form
 */
.contact-form .contact-form__input-error {
  color: var(--wp--preset--color--custom-error-text); }

.contact-form input:active,
.contact-form input:focus-visible,
.contact-form input:focus {
  outline-width: 1px;
  color: var(--wp--preset--color--custom-dark-green);
  outline-color: var(--wp--preset--color--custom-dark-green);
  outline-offset: -1px; }

.contact-form button:active,
.contact-form button:focus-visible,
.contact-form button:focus {
  outline-width: 1px;
  outline-color: var(--wp--preset--color--custom-dark-green);
  outline-offset: -1px; }

.contact-form input[type="radio"]:checked {
  color: var(--wp--preset--color--custom-relevant-2); }

.contact-form .contact-form-submission,
.wp-block-jetpack-contact-form-container .contact-form-submission,
.wp-block-jetpack-contact-form .contact-form-submission {
  padding: 0; }

.contact-form .contact-form__error,
.wp-block-jetpack-contact-form-container .contact-form__error,
.wp-block-jetpack-contact-form .contact-form__error {
  text-align: left;
  font-style: 0.8em; }

.contact-form .field-value,
.wp-block-jetpack-contact-form-container .field-value,
.wp-block-jetpack-contact-form .field-value {
  color: var(--wp--preset--color--custom-dark-green); }

/**
 * Tickets
 */
body.admin-bar #tix {
  padding: 0; }

#tix {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  /**
	 * Tickets - List (First step)
	 */
  /**
	 * Tickets - Order Summary (Second step)
	 */
  /**
	 * Tickets - Attendee Form (Third two)
	 */
  /**
	 * Submit section
	 */ }
  #tix form {
    display: flex;
    flex-direction: column; }
    #tix form select,
    #tix form button,
    #tix form textarea,
    #tix form input {
      box-sizing: border-box;
      padding: 8px;
      color: var(--wp--preset--color--contrast);
      background-color: var(--wp--preset--color--custom-dark);
      border: 1px solid var(--wp--preset--color--custom-dark);
      font-family: var(--wp--preset--font-family--chivo-mono);
      font-size: var(--wp--preset--font-size--medium) !important; }
    #tix form button,
    #tix form .tix-submit input[type="submit"].tix-checkout-button,
    #tix form input[type="submit"] {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      gap: .5em;
      padding-top: 0.8rem;
      padding-right: 1.6rem;
      padding-bottom: 0.98rem;
      padding-left: 1.6rem;
      text-decoration: none;
      border-radius: 14px; }
    #tix form textarea {
      width: 100%;
      height: 100px; }
  #tix .tix-clear {
    display: none; }
  #tix .tix_tickets_table.tix-tickets-list {
    display: flex;
    flex-direction: row;
    font-size: 30px;
    background-color: var(--wp--preset--color--base);
    background-image: linear-gradient(to right, var(--wp--preset--color--custom-dark) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--custom-dark) 1px, transparent 1px);
    background-size: 3px 3px;
    border: 3px solid var(--wp--preset--color--base-2);
    border-radius: 4px;
    position: relative;
    padding-bottom: 80px; }
    #tix .tix_tickets_table.tix-tickets-list thead {
      color: var(--wp--preset--color--contrast-2); }
    #tix .tix_tickets_table.tix-tickets-list tbody {
      flex-grow: 2; }
    #tix .tix_tickets_table.tix-tickets-list tr {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      #tix .tix_tickets_table.tix-tickets-list tr th, #tix .tix_tickets_table.tix-tickets-list tr td {
        text-align: left;
        padding: 0 24px;
        box-sizing: border-box;
        height: 80px;
        line-height: 80px;
        border-bottom: 1px dotted var(--wp--preset--color--contrast-3); }
    #tix .tix_tickets_table.tix-tickets-list .tix-discount {
      display: none; }
    #tix .tix_tickets_table.tix-tickets-list tr.tix-row-coupon {
      position: absolute;
      left: 0;
      width: 100%;
      color: var(--wp--preset--color--custom-info-text); }
      #tix .tix_tickets_table.tix-tickets-list tr.tix-row-coupon td {
        font-size: 18px;
        line-height: 1.5;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 16px;
        flex-wrap: wrap;
        padding: 12px 0; }
        #tix .tix_tickets_table.tix-tickets-list tr.tix-row-coupon td strong {
          color: #76ff25;
          margin-left: 4px;
          animation: party 2s ease-in-out 5;
          font-size: 20px; }
        #tix .tix_tickets_table.tix-tickets-list tr.tix-row-coupon td input[type="submit"] {
          font-size: 16px !important;
          height: 40px;
          line-height: 1em;
          padding: 0 16px; }
  #tix .tix-order-summary,
  #tix .tix-ticket-form {
    background-color: var(--wp--preset--color--base);
    background-image: linear-gradient(to right, var(--wp--preset--color--custom-dark) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--custom-dark) 1px, transparent 1px);
    background-size: 3px 3px;
    border: 3px solid var(--wp--preset--color--base-2);
    border-radius: 4px;
    margin-bottom: 16px;
    width: 100%; }
    #tix .tix-order-summary thead,
    #tix .tix-ticket-form thead {
      border-bottom: 1px solid var(--wp--preset--color--contrast-3);
      background-color: var(--wp--preset--color--custom-dark); }
    #tix .tix-order-summary th, #tix .tix-order-summary td,
    #tix .tix-ticket-form th,
    #tix .tix-ticket-form td {
      padding: 8px;
      white-space: nowrap; }
    #tix .tix-order-summary td,
    #tix .tix-ticket-form td {
      text-align: right; }
      #tix .tix-order-summary td.tix-column-description,
      #tix .tix-ticket-form td.tix-column-description {
        text-align: left; }
    #tix .tix-order-summary .tix-row-total,
    #tix .tix-ticket-form .tix-row-total {
      font-size: 1.2em; }
  #tix .tix-attendee-form {
    background-color: var(--wp--preset--color--base);
    background-image: linear-gradient(to right, var(--wp--preset--color--custom-dark) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--custom-dark) 1px, transparent 1px);
    background-size: 3px 3px;
    border: 3px solid var(--wp--preset--color--base-2);
    border-radius: 4px;
    margin-bottom: 32px; }
    #tix .tix-attendee-form th {
      background-color: var(--wp--preset--color--custom-dark); }
    #tix .tix-attendee-form th, #tix .tix-attendee-form td {
      padding: 16px;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.3); }
    #tix .tix-attendee-form .tix-left {
      min-width: 200px;
      font-size: 0.9em; }
    #tix .tix-attendee-form .tix-row-first-name,
    #tix .tix-attendee-form .tix-row-last-name,
    #tix .tix-attendee-form .tix-row-email {
      font-size: 1.1em; }
      #tix .tix-attendee-form .tix-row-first-name th, #tix .tix-attendee-form .tix-row-first-name td,
      #tix .tix-attendee-form .tix-row-last-name th,
      #tix .tix-attendee-form .tix-row-last-name td,
      #tix .tix-attendee-form .tix-row-email th,
      #tix .tix-attendee-form .tix-row-email td {
        padding: 8px 16px; }
      #tix .tix-attendee-form .tix-row-first-name input,
      #tix .tix-attendee-form .tix-row-last-name input,
      #tix .tix-attendee-form .tix-row-email input {
        width: 100%; }
    #tix .tix-attendee-form .tix-row-first-name th, #tix .tix-attendee-form .tix-row-first-name td,
    #tix .tix-attendee-form .tix-row-last-name th, #tix .tix-attendee-form .tix-row-last-name td {
      border: 0; }
    #tix .tix-attendee-form label {
      display: inline-block;
      width: 100%; }
  #tix .tix-submit .tix-payment-method-container {
    color: var(--wp--preset--color--contrast); }
    #tix .tix-submit .tix-payment-method-container label {
      color: var(--wp--preset--color--contrast); }
    #tix .tix-submit .tix-payment-method-container fieldset {
      background-color: var(--wp--preset--color--base);
      background-image: linear-gradient(to right, var(--wp--preset--color--custom-dark) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--custom-dark) 1px, transparent 1px);
      background-size: 3px 3px;
      border: 3px solid var(--wp--preset--color--base-2);
      border-radius: 4px;
      border-radius: 16px; }
      #tix .tix-submit .tix-payment-method-container fieldset .tix-alternate-payment-option {
        margin: 4px 0; }
  #tix .tix-submit .tix-payment-method {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 32px; }
  #tix .tix-submit button[type="button"] {
    font-size: 0.8em !important; }
    #tix .tix-submit button[type="button"].tix-tab-selected, #tix .tix-submit button[type="button"]:focus, #tix .tix-submit button[type="button"]:active {
      background-color: var(--wp--preset--color--custom-dark);
      border: 1px solid var(--wp--preset--color--custom-link);
      outline: none; }
  #tix .tix-submit input[type="submit"].tix-checkout-button {
    color: var(--wp--preset--color--custom-checkout);
    text-transform: uppercase;
    white-space: nowrap;
    padding: 16px 32px;
    border: 2px solid var(--wp--preset--color--custom-dark); }
    #tix .tix-submit input[type="submit"].tix-checkout-button:hover {
      border-color: 1px solid var(--wp--preset--color--custom-checkout);
      box-shadow: none; }
  #tix .camptix-invoice-toggle-wrapper label {
    margin-bottom: 16px; }
  #tix .tix_invoice_table {
    background-color: var(--wp--preset--color--base);
    background-image: linear-gradient(to right, var(--wp--preset--color--custom-dark) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--custom-dark) 1px, transparent 1px);
    background-size: 3px 3px;
    border: 3px solid var(--wp--preset--color--base-2);
    border-radius: 4px;
    margin-bottom: 16px;
    width: 100%; }
    #tix .tix_invoice_table thead {
      border-bottom: 1px solid var(--wp--preset--color--contrast-3);
      background-color: var(--wp--preset--color--custom-dark); }
    #tix .tix_invoice_table th, #tix .tix_invoice_table td {
      padding: 8px;
      white-space: nowrap; }
    #tix .tix_invoice_table td {
      text-align: right; }
      #tix .tix_invoice_table td input {
        width: 100%; }
      #tix .tix_invoice_table td.tix-column-description {
        text-align: left; }
    #tix .tix_invoice_table .tix-row-total {
      font-size: 1.2em; }

.tix-error,
.tix-notice,
.tix-info {
  padding: 16px 32px;
  background-color: var(--wp--preset--color--base-2);
  color: var(--wp--preset--color--custom-info-text);
  margin-bottom: 8px; }

.tix-error {
  color: var(--wp--preset--color--custom-error-text);
  background-color: var(--wp--preset--color--custom-error-background);
  border-color: var(--wp--preset--color--custom-error-text); }

.tix-notice {
  color: var(--wp--preset--color--contrast);
  border-color: var(--wp--preset--color--accent-4);
  background-color: #212e13; }
  .tix-notice #not-your-personal-site {
    font-size: 0.8em;
    color: var(--wp--preset--color--contrast-3); }

@media (max-width: 800px) {
  #tix {
    min-width: auto; }
    #tix .tix-payment-method {
      justify-content: space-between; } }

@media (max-width: 600px) {
  .entry-content {
    padding: 0 16px; }
  #tix {
    min-width: auto;
    /**
		 * Tickets - List (First step)
		 */
    /*
		* Tickets - Order Summary (Second step)
		*/
    /**
		 * Tickets - Attendee Form (Step two)
		 */ }
    #tix .tix_tickets_table.tix-tickets-list thead {
      font-size: 16px; }
    #tix .tix_tickets_table.tix-tickets-list tbody {
      font-size: 22px; }
    #tix .tix_tickets_table.tix-tickets-list tr th, #tix .tix_tickets_table.tix-tickets-list tr td {
      padding-left: 8px;
      padding-right: 8px; }
    #tix .tix-order-summary {
      font-size: 16px; }
      #tix .tix-order-summary th, #tix .tix-order-summary td {
        white-space: normal;
        padding: 4px 2px; }
    #tix .tix-attendee-form {
      margin-bottom: 16px;
      font-size: 16px; }
      #tix .tix-attendee-form th, #tix .tix-attendee-form td {
        padding: 4px; }
      #tix .tix-attendee-form .tix-left {
        min-width: 180px; }
  /**
	 * Tickets - Attendee Form (Step two)
	 */
  .page-slug-tickets .entry-content {
    padding-left: 8px;
    padding-right: 8px; } }

@keyframes party {
  0% {
    filter: hue-rotate(360deg); }
  100% {
    filter: hue-rotate(0deg); } }

/**
 * Background grid - reusable effect
 * Grid: 3x3
 * Image defined by using background image, with lines
 */
/**
 * Convert a table with many columns into a table with two columns
 */
/*
 * Scanlines effect
 * @param {Number} $line-distance      - distance between lines
 * @param {Color}  $line-color         - color of the lines
 * @param {Number} $animation-times    - number of times the animation will run
 * @param {Number} $animation-duration - duration of the animation
 */
@keyframes scanlines {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 0 100%; } }

/**
 * Caret animation
 */
@keyframes caret-blink {
  50% {
    opacity: 0; } }

/**
 *  Header
 */
.cover-header-template .wp-block-cover {
  overflow: visible;
  background-color: var(--wp--preset--color--custom-black); }
  .cover-header-template .wp-block-cover::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.1) 50%);
    background-size: 100% 4px;
    animation: scanlines 0.8s 3;
    pointer-events: none;
    z-index: 100; }

.cover-header-template .wp-block-cover__video-background {
  filter: sepia(1) hue-rotate(75deg) blur(2px) grayscale(0) opacity(0.3); }

.cover-header-template .wd4d-title a {
  text-decoration: none;
  padding: 16px 32px;
  white-space: nowrap;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px var(--wp--preset--color--custom-dark-green), 0 0 3px var(--wp--preset--color--custom-dark-green), 0 0 4px var(--wp--preset--color--custom-dark-green), 0 0 5px var(--wp--preset--color--custom-dark-green), 0 0 7px var(--wp--preset--color--custom-dark-green);
  position: relative; }
  .cover-header-template .wd4d-title a:hover {
    text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 2px var(--wp--preset--color--custom-light-green), 0 0 3px var(--wp--preset--color--custom-light-green), 0 0 4px var(--wp--preset--color--custom-light-green), 0 0 5px var(--wp--preset--color--custom-light-green), 0 0 7px var(--wp--preset--color--custom-light-green); }
  .cover-header-template .wd4d-title a::after {
    content: '';
    display: inline-block;
    width: .5em;
    height: .7em;
    background-color: var(--wp--preset--color--contrast);
    margin-left: .1em;
    animation: caret-blink 1s step-start infinite;
    box-shadow: 0 0 1px var(--wp--preset--color--white), 0 0 1px var(--wp--preset--color--white), 0 0 2px var(--wp--preset--color--custom-dark-green), 0 0 3px var(--wp--preset--color--custom-dark-green), 0 0 4px var(--wp--preset--color--custom-dark-green), 0 0 5px var(--wp--preset--color--custom-dark-green), 0 0 7px var(--wp--preset--color--custom-dark-green); }

.cover-header-template .header-description {
  max-width: 800px;
  margin: 0 auto;
  border: 4px double var(--wp--preset--color--custom-dark-green);
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.8); }

/**
 *  Main menu
 */
.main-menu .wp-block-navigation-item {
  padding-top: 1px;
  padding-bottom: 1px;
  position: relative;
  margin: 1px; }
  .main-menu .wp-block-navigation-item.has-child > .wp-block-navigation-item__content {
    padding-right: 16px; }
    .main-menu .wp-block-navigation-item.has-child > .wp-block-navigation-item__content:after {
      color: "inherit";
      font-family: dashicons;
      content: "";
      display: inline-block;
      font-weight: 400;
      font-style: normal;
      speak: never;
      text-decoration: inherit;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      vertical-align: top;
      text-align: center;
      margin-left: 4px; }
  .main-menu .wp-block-navigation-item.item-apply-to-speak .wp-block-navigation-item__content:before {
    color: var(--wp--preset--color--custom-relevant-2);
    font-family: dashicons;
    content: "";
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center;
    transition: transform 200ms ease-in-out; }
  .main-menu .wp-block-navigation-item.item-apply-to-speak .wp-block-navigation-item__content .wp-block-navigation-item__label {
    margin-left: 8px; }
  .main-menu .wp-block-navigation-item.item-apply-to-speak .wp-block-navigation-item__content:hover:before {
    transform: scale(3) translateX(-4px); }

.main-menu a.wp-block-navigation-item__content {
  align-items: center; }
  .main-menu a.wp-block-navigation-item__content:hover,
  .main-menu a.wp-block-navigation-item__content .wp-block-navigation-item__label:hover {
    color: var(--wp--preset--color--custom-link);
    text-decoration: none;
    background-color: #002917; }

.main-menu .menu-item-icon .wp-block-navigation-item__content .wp-block-navigation-item__label {
  position: relative;
  padding-left: 0.3em; }
  .main-menu .menu-item-icon .wp-block-navigation-item__content .wp-block-navigation-item__label:before {
    text-shadow: 0 0 3px var(--wp--preset--color--custom-black);
    position: absolute;
    z-index: 100;
    left: -1em;
    transition: filter 2s ease, transform 400ms ease, margin 400ms ease, left 400ms ease; }

.main-menu .menu-item-icon .wp-block-navigation-item__content:hover .wp-block-navigation-item__label::before {
  filter: hue-rotate(360deg);
  transform: scale(3) rotate(-18deg);
  left: -1.7em; }

.main-menu .menu-item-tickets .wp-block-navigation-item__content .wp-block-navigation-item__label:before {
  color: "#ffdb53";
  font-family: dashicons;
  content: "";
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center; }

.main-menu .menu-item-megaphone .wp-block-navigation-item__content .wp-block-navigation-item__label:before {
  color: "#dbff53";
  font-family: dashicons;
  content: "";
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  speak: never;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 20px;
  vertical-align: top;
  text-align: center; }

.main-menu .wp-block-navigation__submenu-container {
  padding: 0 8px; }

#tix-attendees {
  max-width: 960px !important;
  margin: 0 auto !important; }
  #tix-attendees .tix-attendee-list {
    display: flex;
    flex-wrap: wrap; }
    #tix-attendees .tix-attendee-list li {
      display: flex;
      height: auto;
      align-items: center; }
      #tix-attendees .tix-attendee-list li .tix-field {
        font-size: 24px;
        margin: 0 0 0 16px; }
    #tix-attendees .tix-attendee-list img {
      width: 150px;
      height: 150px;
      border-radius: 50%; }

.grid-3x3 {
  background-color: var(--wp--preset--color--base);
  background-image: linear-gradient(to right, var(--wp--preset--color--custom-dark) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--custom-dark) 1px, transparent 1px);
  background-size: 3px 3px;
  border: 3px solid var(--wp--preset--color--base-2);
  border-radius: 4px; }

.highlight-icon {
  filter: contrast(10) brightness(10) grayscale(1); }

/*
 * Comment form
 */
.comment-form .dark {
  background-color: var(--wp--preset--color--base-2);
  color: var(--wp--preset--color--contrast); }

/**
 * Subscribe form
 */
.wp-block-jetpack-subscriptions__form-elements {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; }
  .wp-block-jetpack-subscriptions__form-elements input,
  .wp-block-jetpack-subscriptions__form-elements button {
    box-sizing: border-box;
    padding: 8px;
    color: var(--wp--preset--color--contrast);
    background-color: var(--wp--preset--color--custom-dark);
    border: 1px solid var(--wp--preset--color--custom-dark);
    align-items: center;
    padding: 12px 16px;
    text-decoration: none;
    border-radius: 14px; }
  .wp-block-jetpack-subscriptions__form-elements #subscribe-email {
    flex-grow: 2; }
  .wp-block-jetpack-subscriptions__form-elements #subscribe-submit {
    flex-grow: 1; }
  .wp-block-jetpack-subscriptions__form-elements .wp-block-button__link {
    width: 100%;
    margin: 0 !important; }

.contact-form__warning-icon {
  display: none; }

.wp-site-blocks .contact-form-submission .go-back-message .link {
  color: var(--wp--preset--color--custom-link) !important; }

/**
 * section/pattern: Announcement
 */
.announcement {
  border-style: dashed;
  box-shadow: 0 3px 3px var(--wp--preset--color--custom-dark); }
  .announcement .wp-block-cover__image-background {
    filter: none;
    transition: filter .5s ease;
    filter: blur(4px); }
  .announcement:hover .wp-block-cover__image-background {
    filter: blur(16px); }

/*
 * section/pattern: Sponsors
 */
.sponsors .wp-block-post .wp-block-post-featured-image a {
  padding: 8px; }

.sponsors .wp-block-post.wcb_sponsor {
  background-color: var(--wp--preset--color--white);
  position: relative;
  border-radius: 8px;
  transition: filter .5s ease;
  filter: invert(0.8) grayscale(0.7); }
  .sponsors .wp-block-post.wcb_sponsor::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.6) 50%);
    background-size: 100% 4px;
    animation: scanlines infinite 0.8s;
    pointer-events: none;
    z-index: 100; }
  .sponsors .wp-block-post.wcb_sponsor:hover {
    filter: none; }
    .sponsors .wp-block-post.wcb_sponsor:hover:before {
      opacity: 0; }

@media (max-width: 600px) {
  .wp-block-cover.announcement {
    margin: 0; } }

/*
 * Create a blinking effect on the sponsor logo
 */
.sponsor-hearts p {
  opacity: 0.5; }

.sponsor-hearts .sponsor-heart-available {
  animation: blink 1s infinite linear; }

@keyframes blink {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }

/**
 * section/pattern: News
 */
.news-section .wp-block-post {
  filter: grayscale(1); }
  .news-section .wp-block-post .wp-block-post-title {
    text-shadow: 0 0 8px var(--wp--preset--color--custom-dark); }
    .news-section .wp-block-post .wp-block-post-title a {
      text-decoration: none !important; }
  .news-section .wp-block-post .wp-post-image {
    filter: blur(1px) brightness(2) contrast(3);
    transition: filter 500ms ease; }
  .news-section .wp-block-post:hover {
    filter: grayscale(0.5); }
    .news-section .wp-block-post:hover .wp-post-image {
      filter: none; }

/**
 * page: News
 */
.news-posts-wrapper .wp-block-post {
  filter: grayscale(0.8); }
  .news-posts-wrapper .wp-block-post .wp-block-post-featured-image {
    filter: blur(2px);
    transition: filter 500ms ease 300ms; }
  .news-posts-wrapper .wp-block-post:hover {
    filter: none; }
    .news-posts-wrapper .wp-block-post:hover .wp-block-post-featured-image {
      filter: none; }

/*
 * Sponsor single page
 */
/*
 * Grid 100x100
 * background effect
 */
.grid-100-100 {
  position: relative;
  background-image: linear-gradient(to right, var(--wp--preset--color--base) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--base) 1px, transparent 1px), radial-gradient(circle, var(--wp--preset--color--base) 3px, transparent 2px);
  background-size: 100px 100px, 100px 100px, 100px 100px;
  background-position: 0 0, 0 0, 50px 50px;
  background-attachment: fixed; }
  .grid-100-100 .wp-block-columns {
    position: relative; }
  .grid-100-100::before {
    content: "";
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, var(--wp--preset--color--base) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--base) 1px, transparent 1px);
    background-size: 100px 100px, 100px 100px;
    background-position: 0 0, 0 0;
    background-attachment: fixed;
    animation: animateGrid 3s ease-in-out infinite;
    opacity: 1;
    transition: opacity .5s ease-in-out;
    pointer-events: none; }
  .grid-100-100:hover::before {
    animation-play-state: paused;
    opacity: 0; }

@keyframes animateGrid {
  0% {
    background-position: 0 0, 0 0; }
  100% {
    background-position: 100px 100px, 100px 100px; } }

/**
 * Subscribe form
 */
#subscribe-email input {
  background-color: var(--wp--preset--color--base-2);
  color: var(--wp--preset--color--contrast); }

button:hover,
input[type="submit"]:hover {
  box-shadow: 0 0 3px var(--wp--preset--color--custom-link) inset;
  color: var(--wp--preset--color--custom-link); }

/**
 * Share buttons
 */
.jetpack-sharing-button__button {
  filter: grayscale(0.6) invert(0.1); }

.jetpack-sharing-button__button:hover {
  filter: none; }

.jetpack-sharing-button__button.share-facebook {
  padding: 0;
  width: 38px;
  height: 38px; }

.social-logo.social-logo-facebook {
  width: 32px;
  height: 32px; }

/**
 * Location - Mapbox
 */
.wp-block-jetpack-map {
  margin: 0; }
  .wp-block-jetpack-map .mapboxgl-popup-content {
    background-color: var(--wp--preset--color--base);
    color: var(--wp--preset--color--white); }
  .wp-block-jetpack-map .wp-block-jetpack-map__gm-container .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
    border-top-color: var(--wp--preset--color--base); }
  .wp-block-jetpack-map .mapboxgl-popup-close-button {
    color: var(--wp--preset--color--custom-link); }

.speaker-avatar-wrapper {
  position: relative; }

.speaker-avatar-normal {
  position: relative;
  top: 0;
  margin: 0; }

/*
 * Schedule page
 */
.wordcamp-schedule .wordcamp-schedule__column-header {
  background-color: var(--wp--preset--color--base-2); }

.wordcamp-schedule .is-column-time {
  background-color: var(--wp--preset--color--base-2); }

/**
 * Schedule page
 */
.wordcamp-schedule__day {
  background-color: var(--wp--preset--color--base-2); }

#wordcamp-schedule__day-2024-10-19-tracks-all .wordcamp-schedule__column-header {
  background-color: var(--wp--preset--color--base-2); }

#wordcamp-schedule__day-2024-10-19-tracks-all .wordcamp-schedule__time-slot-header {
  box-shadow: 0 0 1px 1px var(--wp--preset--color--custom-dark); }

#wordcamp-schedule__day-2024-10-19-tracks-all .wordcamp-schedule__column-header {
  display: none; }

/**
 * section/pattern: Sessions
 */
.schedule-sessions .wcb_session {
  margin: 0;
  border-top: 1px solid var(--wp--preset--color--custom-dark);
  border-left: 1px solid var(--wp--preset--color--custom-dark);
  border-right: 1px solid var(--wp--preset--color--custom-dark);
  border-bottom: 1px solid transparent;
  background-color: var(--wp--preset--color--base-2);
  transition: filter .5s ease; }
  .schedule-sessions .wcb_session .session-time {
    border: 1px dotted transparent; }
  .schedule-sessions .wcb_session .avatar {
    filter: grayscale(1) sepia(0.3) contrast(2) hue-rotate(45deg);
    transition: filter .5s ease, border-color .5s ease; }
  .schedule-sessions .wcb_session:hover {
    filter: none;
    background-color: var(--wp--preset--color--custom-dark);
    border: 1px dotted var(--wp--preset--color--contrast-3);
    box-shadow: 0 0 2px var(--wp--preset--color--custom-dark); }
    .schedule-sessions .wcb_session:hover .session-time {
      border-color: var(--wp--preset--color--contrast-3);
      background-color: var(--wp--preset--color--base-2) !important; }
    .schedule-sessions .wcb_session:hover .avatar {
      filter: none;
      border-color: var(--wp--preset--color--contrast) !important; }
  .schedule-sessions .wcb_session:nth-last-child(1) {
    border-bottom: 1px solid var(--wp--preset--color--custom-dark); }
    .schedule-sessions .wcb_session:nth-last-child(1):hover {
      border-bottom: 1px dotted var(--wp--preset--color--contrast-3); }

.schedule-sessions:hover .wcb_session:not(:hover) {
  filter: grayscale(1) opacity(0.4) blur(1px); }

/*
 * Query Loop Styled
 */
.query-loop-wrapper {
  /**
	 * Apply styles to items not hovered
	 */ }
  .query-loop-wrapper .wp-block-post {
    border-color: 1px dotted var(--wp--preset--color--custom-dark);
    border-radius: 8px;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: var(--wp--preset--spacing--20);
    padding-right: var(--wp--preset--spacing--10);
    padding-bottom: var(--wp--preset--spacing--30);
    padding-left: var(--wp--preset--spacing--10);
    background-color: var(--wp--preset--color--base-2) !important;
    filter: grayscale(1);
    transition: filter 0.5s ease; }
    .query-loop-wrapper .wp-block-post .wp-block-wordcamp-avatar {
      width: auto !important;
      height: 100% !important; }
      .query-loop-wrapper .wp-block-post .wp-block-wordcamp-avatar img {
        filter: grayscale(1) sepia(0.3) contrast(2) hue-rotate(45deg);
        transition: filter 0.5s ease;
        border-radius: 8px;
        display: block;
        height: 100%;
        margin: 0 auto; }
    .query-loop-wrapper .wp-block-post:hover {
      filter: none; }
      .query-loop-wrapper .wp-block-post:hover .wp-block-wordcamp-avatar img {
        filter: none; }
  .query-loop-wrapper:hover .wp-block-post:not(:hover) {
    filter: grayscale(1) opacity(0.4) blur(1px); }

/**
 * Get involved template
 */
.get-involved .wp-block-column .wp-block-group,
.get-involved .wp-block-column a.wp-block-wporg-link-wrapper {
  background-color: var(--wp--preset--color--base);
  background-image: linear-gradient(to right, var(--wp--preset--color--custom-dark) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--custom-dark) 1px, transparent 1px);
  background-size: 3px 3px;
  border: 3px solid var(--wp--preset--color--base-2);
  border-radius: 4px;
  transition: filter 0.5s ease;
  filter: grayscale(0.8);
  border-color: var(--wp--preset--color--custom-relevant) !important;
  color: var(--wp--preset--color--custom-relevant) !important; }
  .get-involved .wp-block-column .wp-block-group:before,
  .get-involved .wp-block-column a.wp-block-wporg-link-wrapper:before {
    transition: transform 200ms ease;
    color: inherit;
    font-family: dashicons;
    content: "";
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    font-size: 1.2em;
    vertical-align: top;
    text-align: center;
    text-shadow: 0 0 8px var(--wp--preset--color--custom-dark);
    font-size: 6em;
    display: block;
    margin: 0.2em auto 0.3em; }
  .get-involved .wp-block-column .wp-block-group .wp-block-heading,
  .get-involved .wp-block-column a.wp-block-wporg-link-wrapper .wp-block-heading {
    padding: 0;
    margin: 0; }

.get-involved .wp-block-column .wp-block-group {
  filter: grayscale(1); }

.get-involved .wp-block-column a.wp-block-wporg-link-wrapper:hover {
  filter: none;
  text-decoration: none !important; }
  .get-involved .wp-block-column a.wp-block-wporg-link-wrapper:hover:before {
    transform: scale(1.2); }
  .get-involved .wp-block-column a.wp-block-wporg-link-wrapper:hover .wp-block-heading {
    text-decoration: underline; }

.get-involved .wp-block-column:nth-child(2) .wp-block-group,
.get-involved .wp-block-column:nth-child(2) a.wp-block-wporg-link-wrapper {
  color: var(--wp--preset--color--custom-relevant-2) !important;
  border-color: var(--wp--preset--color--custom-relevant-2) !important; }
  .get-involved .wp-block-column:nth-child(2) .wp-block-group:before,
  .get-involved .wp-block-column:nth-child(2) a.wp-block-wporg-link-wrapper:before {
    content: "\f488"; }

.get-involved .wp-block-column:nth-child(3) .wp-block-group,
.get-involved .wp-block-column:nth-child(3) a.wp-block-wporg-link-wrapper {
  color: var(--wp--preset--color--custom-relevant-3) !important;
  border-color: var(--wp--preset--color--custom-relevant-3) !important; }
  .get-involved .wp-block-column:nth-child(3) .wp-block-group:before,
  .get-involved .wp-block-column:nth-child(3) a.wp-block-wporg-link-wrapper:before {
    content: "\f313"; }

/**
 * Social links
 */
.wp-block-social-links .wp-block-social-link {
  filter: sepia(1) hue-rotate(70deg);
  transition: filter 0.5s ease; }
  .wp-block-social-links .wp-block-social-link:hover {
    filter: none; }

/*
 * Location / Venue section
 */
.venue-location-section a.wp-block-wporg-link-wrapper {
  text-decoration: none; }
  .venue-location-section a.wp-block-wporg-link-wrapper:hover {
    text-decoration: none; }
  .venue-location-section a.wp-block-wporg-link-wrapper:hover .wp-block-cover__image-background {
    filter: blur(0) hue-rotate(100deg) grayscale(0.3); }

.venue-location-section .wp-block-cover__image-background {
  filter: blur(2px) hue-rotate(100deg) grayscale(1);
  transition: filter 0.5s ease; }

/**
 * Page: News
 */
.single-wcb_speaker .blog-post-image img,
.single-post .blog-post-image img {
  filter: grayscale(0.5) contrast(2) blur(1px) hue-rotate(45deg);
  animation: rotate-hue-color 40s infinite; }
  .single-wcb_speaker .blog-post-image img:hover,
  .single-post .blog-post-image img:hover {
    filter: none; }

.single-wcb_speaker .entry-content,
.single-post .entry-content {
  position: relative; }
  .single-wcb_speaker .entry-content .i18n-badge,
  .single-post .entry-content .i18n-badge {
    top: -100px;
    position: absolute;
    z-index: 10;
    left: 50%;
    width: 300px;
    margin-left: -150px !important; }

.single-wcb_speaker .entry-content .i18n-badge {
  top: -70px; }

@keyframes rotate-hue-color {
  0% {
    filter: grayscale(0.5) contrast(2) blur(1px) hue-rotate(45deg); }
  100% {
    filter: grayscale(0.5) contrast(2) blur(1px) hue-rotate(405deg); } }

/**
 * Footer
 */
footer.wp-block-template-part {
  margin-top: 0; }
  footer.wp-block-template-part .wp-block-site-tagline {
    font-style: italic;
    opacity: 0.5;
    filter: blur(1px);
    transition: opacity 0.5s ease, filter 0.5s ease; }
  footer.wp-block-template-part:hover .wp-block-site-tagline {
    opacity: 1;
    filter: none; }
  footer.wp-block-template-part .wp-block-cover .wp-block-cover__image-background {
    transition: filter 0.5s ease;
    filter: grayscale(0.5) blur(1px); }
  footer.wp-block-template-part .wp-block-cover .wp-social-link {
    filter: grayscale(0.8);
    transition: filter 0.5s ease; }
    footer.wp-block-template-part .wp-block-cover .wp-social-link:hover {
      filter: none; }
  footer.wp-block-template-part .wp-block-cover:hover .wp-block-cover__image-background {
    filter: grayscale(0.8) blur(2px); }
  footer.wp-block-template-part .wp-block-jetpack-subscriptions__form-elements {
    max-width: 300px; }
  footer.wp-block-template-part .contact-form-link,
  footer.wp-block-template-part .contact-link {
    display: inline-flex;
    align-items: center;
    gap: 4px; }
    footer.wp-block-template-part .contact-form-link:before,
    footer.wp-block-template-part .contact-link:before {
      color: var(--wp--preset--color--custom-link);
      font-family: dashicons;
      content: "";
      display: inline-block;
      font-weight: 400;
      font-style: normal;
      speak: never;
      text-decoration: inherit;
      text-transform: none;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      width: 20px;
      height: 20px;
      line-height: 20px;
      font-size: 20px;
      vertical-align: top;
      text-align: center; }
  footer.wp-block-template-part .contact-form-link:before {
    color: var(--wp--preset--color--custom-link);
    font-family: dashicons;
    content: "";
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center; }

.i18n-menu-item .wp-block-navigation-item__content {
  display: inline-flex;
  align-items: baseline;
  gap: 2px; }
  .i18n-menu-item .wp-block-navigation-item__content:before {
    filter: grayscale(0.8);
    transition: filter 0.5s ease;
    color: var(--wp--preset--color--custom-link);
    font-family: dashicons;
    content: "";
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center; }
  .i18n-menu-item .wp-block-navigation-item__content:hover:before {
    filter: none; }

/**
 * Style the i18n regular link
 */
.i18n-badge a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  background: rgba(0, 0, 0, 0.2);
  padding: 2px 8px;
  border-radius: 8px;
  filter: grayscale(1) opacity(0.5);
  transition: filter 0.5s ease;
  text-shadow: 0 1px 1px var(--wp--preset--color--custom-dark); }
  .i18n-badge a:before {
    color: var(--wp--preset--color--custom-link);
    font-family: dashicons;
    content: "";
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center; }
  .i18n-badge a:after {
    color: var(--wp--preset--color--custom-link);
    font-family: dashicons;
    content: "";
    display: inline-block;
    font-weight: 400;
    font-style: normal;
    speak: never;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    vertical-align: top;
    text-align: center; }
  .i18n-badge a:hover {
    filter: none; }

.page-template-default .entry-content,
.page-template .entry-content {
  margin-top: 0; }
