
/**
 * Background grid - reusable effect
 * Grid: 3x3
 * Image defined by using background image, with lines
 */
 @mixin grid-3x3 {
	background-color: var( --wp--preset--color--base );
	background-image:
		linear-gradient( to right, var(--wp--preset--color--custom-dark ) 1px, transparent 1px ),
		linear-gradient( to bottom, var(--wp--preset--color--custom-dark ) 1px, transparent 1px );
	background-size: 3px 3px;
	border: 3px solid var( --wp--preset--color--base-2 );
	border-radius: 4px;
}

/**
 * Convert a table with many columns into a table with two columns
 */
@mixin table-to-two-columns {
	display: flex;
	flex-direction: row;
	font-size: 30px;

	thead {
		color: var( --wp--preset--color--contrast-2 );
	}

	tbody {
		flex-grow: 2;
	}

	tr {
		display: flex;
		flex-direction: column;
		justify-content: center;

		th, td {
			text-align: left;
			padding: 0 24px;
			box-sizing: border-box;
			height: 80px;
			line-height: 80px;
			border-bottom: 1px dotted var( --wp--preset--color--contrast-3 );
		}
	}
}

/*
 * Scanlines effect
 * @param {Number} $line-distance      - distance between lines
 * @param {Color}  $line-color         - color of the lines
 * @param {Number} $animation-times    - number of times the animation will run
 * @param {Number} $animation-duration - duration of the animation
 */
@mixin scanlines(
	$line-distance: 3px,
	$line-color: rgba( 255, 255, 255, 0.1 ),
	$animation-times: 3,
	$animation-duration: 0.8s
) {
	&::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient( transparent 50%, $line-color 50% );
		background-size: 100% $line-distance;
		animation: scanlines $animation-duration $animation-times;
		pointer-events: none;
		z-index: 100;
	}
}

@keyframes scanlines {
	0% {
		background-position: 0 0;
	}
	
	100% {
		background-position: 0 100%;
	}
}

@mixin old-style {
	position: relative;
	filter: grayscale( 1 ) blur( 1px ) contrast( 1.2 ) sepia( 1 );
	-webkit-mask: radial-gradient( #000, #000a );

	&::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-mask: radial-gradient( farthest-side, #0000 30%, #000 );
		backdrop-filter: blur( 5px ) sepia( 90% );
	}
	  
	&::after {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.6;
		background: url( "data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><filter id='noise' x='0%' y='0%' width='100%' height='100%'><feTurbulence baseFrequency='0.5' /></filter><rect x='0' y='0' width='100%' height='100%' filter='url(%23noise)' /></svg>");
		filter: grayscale( 100% ) contrast( 150% );
		mix-blend-mode: darken;
	}
}

/**
 * Caret animation
 */
@mixin caret(
	$color: var( --wp--preset--color--custom-dark-green ),
	$background-color: var( --wp--preset--color--contrast )
) {
	position: relative;

	&::after {
		content: '';
		display: inline-block;
		width: .5em;
		height: .7em;
		background-color: $background-color;
		margin-left: .1em;
		animation: caret-blink 1s step-start infinite;
		box-shadow:
			0 0 1px var( --wp--preset--color--white ),
			0 0 1px var( --wp--preset--color--white ),
			0 0 2px $color,
			0 0 3px $color,
			0 0 4px $color,
			0 0 5px $color,
			0 0 7px $color;
	}
}

@keyframes caret-blink {
	50% {
		opacity: 0;
	}
}

@mixin neonify( $light-color: var( --wp--preset--color--custom-dark-green ) ) {
	text-shadow:
		0 0 1px #fff,
		0 0 1px #fff,
		0 0 2px $light-color,
		0 0 3px $light-color,
		0 0 4px $light-color,
		0 0 5px $light-color,
		0 0 7px $light-color;
}

@mixin dashicon(
	$icon: "\f486",
	$color: var( --wp--preset--color--custom-black ),
	$size: 20px
) {
	color: $color;
	font-family: dashicons;
	content: $icon;
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	speak: never;
	text-decoration: inherit;
	text-transform: none;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	width: $size;
	height: $size;
	line-height: $size;
	font-size: $size;
	vertical-align: top;
	text-align: center;
}

@mixin noise-photo () {
	filter: grayscale( 1 ) sepia( 0.3 ) contrast( 2 ) hue-rotate( 45deg );
}
