@import './common.scss';

/**
 *  Header
 */
 .cover-header-template {
	.wp-block-cover {
		overflow: visible;
		@include scanlines( 4px );
	}

	// Tweak the main navigation menu
	.wp-block-navigation-item {
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.wp-block-navigation-item__content:hover,
	a.wp-block-navigation-item__content .wp-block-navigation-item__label:hover {
		color: var( --wp--preset--color--custom-link );
	}

	.menu-tickets {
		.wp-block-navigation-item__content {
			.wp-block-navigation-item__label {
				position: relative;
				padding-left: 0.3em;
				&:before {
					@include dashicon( "\f486", "#ffdb53" );
					text-shadow: 0 0 3px var( --wp--preset--color--custom-black );
					position: absolute;
					z-index: 100;
					left: -1em;
					transition: filter 2s ease, transform 400ms ease, margin 400ms ease, left 400ms ease;
				}
			}

			&:hover .wp-block-navigation-item__label::before {
				filter: hue-rotate( 360deg );
				transform: scale( 3 ) rotate( -18deg );
				left: -1.7em;
			}
		}
	}

	.wd4d-title {
		@include neonify();
		@include caret();

		a {
			text-decoration: none;

			&:hover {
				@include neonify( var( --wp--preset--color--custom-light-green ) );
			}
		}
	}

	.header-description {
		max-width: 800px;
		margin: 0 auto;
		border: 4px double var( --wp--preset--color--custom-dark-green );
		border-radius: 16px;
		background-color: rgba( 0, 255, 100, 0.05 );
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
