@import './common.scss';

/**
 *  Header
 */
 .cover-header-template {
	.wp-block-cover {
		overflow: visible;
		@include scanlines( 4px );
		background-color: var( --wp--preset--color--custom-black );
	}

	.wp-block-cover__video-background {
		filter: sepia( 1 ) hue-rotate( 75deg ) blur( 2px ) grayscale( 0 ) opacity( 0.3 );
	}

	.wd4d-title {
		a {
			text-decoration: none;
			padding: 16px 32px;
			white-space: nowrap;

			&:hover {
				@include neonify( var( --wp--preset--color--custom-light-green ) );
			}

			@include neonify();
			@include caret();
		}
	}

	.header-description {
		max-width: 800px;
		margin: 0 auto;
		border: 4px double var( --wp--preset--color--custom-dark-green );
		border-radius: 16px;
		background-color: rgba( 0, 0, 0, 0.8 );
	}
}

/**
 *  Main menu
 */
.main-menu {
	.wp-block-navigation-item {
		padding-top: 1px;
		padding-bottom: 1px;
		position: relative;
		margin: 1px;

		// Add a chevron to the item when it has a submenu
		&.has-child > .wp-block-navigation-item__content {
			padding-right: 16px;

			&:after {
				@include dashicon( "\f140", "inherit" );
				margin-left: 4px;
			}
		}
		
		// Apply top speak icon
		&.item-apply-to-speak {
			.wp-block-navigation-item__content {
				&:before {
					@include dashicon( "\f488", var( --wp--preset--color--custom-relevant-2 ) );
					transition: transform 200ms ease-in-out;
				}

				.wp-block-navigation-item__label {
					margin-left: 8px;
				}

				&:hover {
					&:before {
						transform: scale( 3 ) translateX( -4px );
					}
				}
			}
		}
	}

	a.wp-block-navigation-item__content {
		align-items: center;

		// Tweak the appearance of the menu items when hovered
		&:hover,
		.wp-block-navigation-item__label:hover {
			color: var( --wp--preset--color--custom-link );
			text-decoration: none;
			background-color: #002917;
		}
	}

	.menu-item-icon {
		.wp-block-navigation-item__content {
			.wp-block-navigation-item__label {
				position: relative;
				padding-left: 0.3em;
				&:before {
					text-shadow: 0 0 3px var( --wp--preset--color--custom-black );
					position: absolute;
					z-index: 100;
					left: -1em;
					transition: filter 2s ease, transform 400ms ease, margin 400ms ease, left 400ms ease;
				}
			}

			&:hover .wp-block-navigation-item__label::before {
				filter: hue-rotate( 360deg );
				transform: scale( 3 ) rotate( -18deg );
				left: -1.7em;
			}
		}
	}

	.menu-item-tickets {
		.wp-block-navigation-item__content {
			.wp-block-navigation-item__label:before {
				@include dashicon( "\f486", "#ffdb53" );
			}
		}
	}

	.menu-item-megaphone {
		.wp-block-navigation-item__content {
			.wp-block-navigation-item__label:before {
				@include dashicon( "\f307", "#dbff53" );
			}
		}
	}

	.wp-block-navigation__submenu-container {
		padding: 0 8px;
	}
}
