/**
 *  Header
 */
 .cover-header-template {
	padding: 0 !important;

	.wp-block-cover {
		overflow: visible;
	}

	.wp-block-navigation-item {
		padding-top: 1px;
		padding-bottom: 1px;
	}

	.wp-block-navigation-item__content.wp-block-navigation-item__content:hover,
	a.wp-block-navigation-item__content .wp-block-navigation-item__label:hover {
		color: var(--wp--preset--color--custom-link);
	}

	ul.wp-block-navigation__submenu-container .wp-block-navigation-item {
		margin: 2px 0;
	}

	.main-menu {
		margin: 0;
	}
}

/**
 * Caret effect.
 * Used in the header
 */
 .caret {
	position: relative;

	&::after {
		content: '';
		display: inline-block;
		width: .5em;
		height: .7em;
		background-color: var( --wp--preset--color--contrast );
		margin-left: .1em;
		animation: blink 1s step-start infinite;
		box-shadow:
			0 0 1px var( --wp--preset--color--white ),
			0 0 1px var( --wp--preset--color--white ),
			0 0 2px var( --wp--preset--color--custom-menu-link ),
			0 0 3px var( --wp--preset--color--custom-menu-link ),
			0 0 4px var( --wp--preset--color--custom-menu-link ),
			0 0 5px var( --wp--preset--color--custom-menu-link ),
			0 0 7px var( --wp--preset--color--custom-menu-link );
	}
}

@keyframes blink {
	50% {
		opacity: 0;
	}
}
