@import './common.scss';
@import './tickets.scss';
@import './header.scss';


/**
 * Background grid - reusable effect
 * Image defined by using background image, with lines
 */
.grid-3x3 {
	@include grid-3x3;
}

/**
 * one day, two tracks, 60 attendees
 */

/**
 * Scanlines effect
 */
.scanlines::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.1) 50%);
	background-size: 100% 3px;
	animation: scanlines .8s 3;
	pointer-events: none;
	z-index: 100;
}

/**
 * Highlights
 */
.highlight-icon {
	filter: contrast( 10 ) brightness( 10 ) grayscale( 1 );
}

/*
 * Comment form
 */
.comment-form .dark {
	background-color: var( --wp--preset--color--base-2 );
	color: var( --wp--preset--color--contrast );
}

/*
 * Contact Form
 */
.contact-form {
	.contact-form__input-error {
		color: var( --wp--preset--color--custom-form-error );
	}

	&:focus {
		outline-width: 1px;
		outline-color: var( --wp--preset--color--custom-focus );
		outline-offset: -1px;
	}
}

/**
 * Subscribe form
 .wp-block-jetpack-subscriptions__form-elements
 */
.wp-block-jetpack-subscriptions__form-elements {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	input,
	button {
		box-sizing: border-box;
		padding: 8px;
		color: var( --wp--preset--color--contrast );
		background-color: var( --wp--preset--color--custom-dark );
		border: 1px solid var( --wp--preset--color--custom-dark );
		// font-family: var( --wp--preset--font-family--chivo-mono );
		// font-size: var(--wp--preset--font-size--medium) !important;
		align-items: center;
		// display: inline-flex;
		// justify-content: center;
		// gap: .5em;
		padding-top: 0.8rem;
		padding-right: 1.6rem;
		padding-bottom: 0.98rem;
		padding-left: 1.6rem;
		text-decoration: none;
		border-radius: 14px;
	}

	#subscribe-email {
		flex-grow: 2;
	}

	#subscribe-submit {
		flex-grow: 1;
	}

	.wp-block-button__link {
		width: 100%;
		margin: 0 !important; // :facepalm: jp
	}
}

.contact-form__warning-icon {
	display: none;
}

.page-slug-contact .contact-form__error {
	display: none;
}

.wp-site-blocks .contact-form-submission .go-back-message .link {
	color: var( --wp--preset--color--custom-link ) !important;
}

/**
 * Neon effect
 */
.neonify {
	text-shadow:
		0 0 1px #fff,
		0 0 1px #fff,
		0 0 2px var( --wp--preset--color--custom-menu-link ),
		0 0 3px var( --wp--preset--color--custom-menu-link ),
		0 0 4px var( --wp--preset--color--custom-menu-link ),
		0 0 5px var( --wp--preset--color--custom-menu-link ),
		0 0 7px var( --wp--preset--color--custom-menu-link );
}

.neon-text {
	color: #fff;
	text-shadow:
		0 0 2px #fff,
		0 0 2px #fff,
		0 0 2px #fff,
		0 0 2px var( --wp--preset--color--custom-dark ),
		0 0 2px var( --wp--preset--color--custom-dark ),
		0 0 2px var( --wp--preset--color--custom-dark ),
		0 0 2px var( --wp--preset--color--custom-dark ),
		0 0 2px var( --wp--preset--color--custom-dark );
}

/*
 * Sponsors
 */
.sponsors {
	border-top: 2px dashed #444;
	border-bottom: 2px dashed #444;
	box-shadow: 0 1px 5px black inset;
}

.sponsors .wp-block-post.wcb_sponsor {
	background-color: var( --wp--preset--color--white );
	position: relative;
	border-radius: 8px;
	filter: invert( 0.8 ) grayscale( 0.7 );
	transition: filter .5s ease;
}

/*
 * scanlines for sponsor box
 */
.sponsors .wp-block-post.wcb_sponsor::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent 50%, rgba(255, 255, 255, 0.6) 50%);
	background-size: 100% 4px;
	animation: scanlines .8s infinite;
	pointer-events: none;
	z-index: 100;
	transition: opacity .5 ease;
	opacity: 1;
}

.sponsors .wp-block-post.wcb_sponsor:hover {
	filter: none;
}

.sponsors .wp-block-post.wcb_sponsor:hover:before {
	opacity: 0;
}

@keyframes gradientBorder {
	0% {
		background-position: 0 50%;
	}
	
	50% {
		background-position: 100% 50%;
	}
	
	100% {
		background-position: 0 50%;
	}
}

.sponsors .wp-block-post.wcb_sponsor.post-26:hover {
	border-color: #196BDE;
}

/*
 * Sponsor single page - Header
 */
.sponsor-header {
	background: var( --wp--preset--color--white );
}

.cover-blur .wp-block-cover__image-background {
	filter: none;
	transition: filter .5s ease;
}

.cover-blur:hover .wp-block-cover__image-background {
	filter: blur(10px);
}

/*
 * Grid 100x100
 * background effect
 */
.grid-100-100 {
	position: relative;
	background-image: linear-gradient(to right, var(--wp--preset--color--base) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--base) 1px, transparent 1px), radial-gradient(circle, var(--wp--preset--color--base) 3px, transparent 2px);
	background-size: 100px 100px, 100px 100px, 100px 100px;
	background-position: 0 0, 0 0, 50px 50px;
	background-attachment: fixed;
}

.grid-100-100 .wp-block-columns {
	position: relative;
}

.grid-100-100::before {
	content: "";
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to right, var(--wp--preset--color--base) 1px, transparent 1px), linear-gradient(to bottom, var(--wp--preset--color--base) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px;
	background-position: 0 0, 0 0;
	background-attachment: fixed;
	animation: animateGrid 3s ease-in-out infinite;
	opacity: 1;
	transition: opacity .5s ease-in-out;
	pointer-events: none;
}

.grid-100-100:hover::before {
	animation-play-state: paused;
	opacity: 0;
}

@keyframes animateGrid {
	0% {
		background-position: 0 0, 0 0;
	}
	
	100% {
		background-position: 100px 100px, 100px 100px;
	}
}

@keyframes scanlines {
	0% {
		background-position: 0 0;
	}
	
	100% {
		background-position: 0 100%;
	}
}

/**
 * Subscribe form
 */
#subscribe-email input {
	background-color: var( --wp--preset--color--base-2 );
	color: var( --wp--preset--color--contrast );
}


button:hover,
input[type="submit"]:hover {
	box-shadow: 0 0 3px var( --wp--preset--color--custom-link ) inset;
	color: var( --wp--preset--color--custom-link );
}

/**
 * Share buttons
 */
.jetpack-sharing-button__button {
	filter: grayscale(0.6) invert(0.1);
}

.jetpack-sharing-button__button:hover {
	filter: none;
}

.jetpack-sharing-button__button.share-facebook {
	padding: 0;
	width: 38px;
	height: 38px;
}

.social-logo.social-logo-facebook {
	width: 32px;
	height: 32px;
}

/**
 * Block post instance
 * Part of query loop
 */
.wp-block-post .wp-block-post-featured-image {
	filter: grayscale(0.7);
	transition: filter 1s ease;
}

.wp-block-post:hover .wp-block-post-featured-image {
	filter: none;
}

.news-title a {
	font-family: var(--wp--preset--font-family--chivo-mono) !important;
}

.news-image img {
	filter: blur( 2px ) grayscale( 0.8 );
}

/**
 * Location - Mapbox
 */
.wp-block-jetpack-map .mapboxgl-popup-content {
	background-color: var(--wp--preset--color--base);
	color: var( --wp--preset--color--white );
}

.wp-block-jetpack-map__gm-container .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: var( --wp--preset--color--base );
}

.mapboxgl-popup-close-button {
	color: var( --wp--preset--color--custom-link );
}

/**
 * Sponsors
 */
.speaker-avatar-wrapper {
	position: relative;
}

.speaker-avatar-normal {
	position: relative;
	top: 0;
	margin: 0;
}

.speaker-avatar-hover {
	position: absolute;
	top: 0;
	filter: sepia( 1 ) hue-rotate( 45deg );
	margin: 0;
	transition: filter ease-in 500ms;
}

.type-wcb_speaker:hover .speaker-avatar-hover {
	filter: none;
}

/**
 * Schedule page
 */
.wordcamp-schedule__day {
	background-color: var( --wp--preset--color--base-2 );
}

#wordcamp-schedule__day-2024-10-19-tracks-all {
	.wordcamp-schedule__column-header {
		background-color: var( --wp--preset--color--base-2 );
	}

	.wordcamp-schedule__time-slot-header {
		box-shadow: 0 0 1px 1px var( --wp--preset--color--custom-dark );
	}

	.wordcamp-schedule__column-header {
		display: none;
	}
}

.schedule-sessions {
	.wcb_session {
		margin: 0;
		border-top: 1px solid var( --wp--preset--color--custom-dark );
		border-left: 1px solid var( --wp--preset--color--custom-dark );
		border-right: 1px solid var( --wp--preset--color--custom-dark );
		border-bottom: 1px solid transparent;
		background-color: var( --wp--preset--color--base-2 );
		transition: filter .5s ease;

		.session-time {
			border: 1px dotted transparent;
		}

		&:hover {
			filter: none;
			background-color: var( --wp--preset--color--custom-dark );
			border: 1px dotted var( --wp--preset--color--contrast-3 );
			box-shadow: 0 0 2px var( --wp--preset--color--custom-dark );

			.session-time {
				border-color: var( --wp--preset--color--contrast-3 );
				background-color: var( --wp--preset--color--base-2 ) !important;
			}
		}

		&:nth-last-child( 1 ) {
			border-bottom: 1px solid var( --wp--preset--color--custom-dark );
			&:hover {
				border-bottom: 1px dotted var( --wp--preset--color--contrast-3 );
			}
		}
	}

	&:hover .wcb_session:not( :hover ) {
		filter: grayscale( 1 ) opacity( 0.4 ) blur( 1px );
	}
}

/**
 * Speakers section
 */
 .wcb_speaker {
	 perspective: 1000px;

 	.flip-wrapper {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 400px;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}

	&:hover .flip-wrapper {
		transform: rotateY( 180deg );
	}

	.flip-front, .flip-back {
		position: absolute;
		top: 0px;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden; /* Safari */
		backface-visibility: hidden;
	}

	.flip-back {
		transform: rotateY( 180deg );
	}
}

/*
 * Speaker section
 * Fade effect
 */
 .speaker-wrapper {
	.speaker-front {
		position: relative;
		z-index: 1;
		transition: opacity 0.5s;
	}

	.speaker-excerpt {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		opacity: 0;
		transition: opacity 0.5s ease-in;
	}

	&:hover {
		.speaker-front {
			opacity: 0;
		}

		.speaker-excerpt {
			opacity: 1;
		}
	}
 }

/**
 * Get involved template
 */
.get-involved {
	.star {
		transition: transform 300ms ease, color 300ms ease;
		margin: 0 auto;
		height: 1.2em;
		line-height: 1em;
		text-shadow: 0 0 8px var( --wp--preset--color--custom-dark );
	}

	.wp-block-column {
		a.wp-block-wporg-link-wrapper {
			@include grid-3x3;
			border-style: dotted;

			.wp-block-heading {
				padding: 0;
				margin: 0;
			}

			&:hover {
				text-decoration: none !important;
				box-shadow: 0 0 1px 1px var( --wp--preset--color--custom-relevant ) inset;

				.wp-block-heading {
					text-decoration: underline;
					color: var( --wp--preset--color--custom-relevant );
				}

				.star {
					transform: scale( 1.3 ) rotate( 72deg );
					color: var( --wp--preset--color--custom-relevant );
				}
			}
		}

		&:nth-child( 2 ) {
			a.wp-block-wporg-link-wrapper {
				&:hover {
					box-shadow: 0 0 1px 1px var( --wp--preset--color--custom-relevant-2 ) inset;

					.wp-block-heading {
						color: var( --wp--preset--color--custom-relevant-2 );
					}

					.star {
						color: var( --wp--preset--color--custom-relevant-2 );
					}
				}
			}
		}

		&:nth-child( 3 ) {
			a.wp-block-wporg-link-wrapper {
				&:hover {
					box-shadow: 0 0 1px 1px var( --wp--preset--color--custom-relevant-3 ) inset;

					.wp-block-heading {
						color: var( --wp--preset--color--custom-relevant-3 );
					}

					.star {
						color: var( --wp--preset--color--custom-relevant-3 );
					}
				}
			}
		}
	}
}

/*
 * Location / Venue section
 */
.venue-location-section {
	a.wp-block-wporg-link-wrapper {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		&:hover .wp-block-cover__image-background {
			filter: none;
		}
	}

	.wp-block-cover__image-background {
		filter: blur( 2px ) hue-rotate( 100deg ) grayscale( 0.5 );
		transition: filter 0.5s ease;
	}
}

/**
 * Blog post page
 */
 .blog-post-image img {
	filter: grayscale( 0.5 ) contrast( 2 ) blur( 1px ) hue-rotate( 45deg );

	animation: rotate-hue-color 40s infinite;

	&:hover {
		filter: none;
	}
 }

 @keyframes rotate-hue-color {
	0% {
		filter: grayscale( 0.5 ) contrast( 2 ) blur( 1px ) hue-rotate( 45deg );
	}

	100% {
		filter: grayscale( 0.5 ) contrast( 2 ) blur( 1px ) hue-rotate( 405deg );
	}
 }


/**
 * Footer
 */
footer.wp-block-template-part {
	margin-top: 0;

	.wp-block-site-tagline {
		font-style: italic;
		opacity: 0.5;
		filter: blur( 1px );
		transition: opacity 0.5s ease, filter 0.5s ease;
	}

	&:hover {
		.wp-block-site-tagline {
			opacity: 1;
			filter: none;
		}
	}

	.wp-block-navigation-item__content {
		&:hover {
			color: var( --wp--preset--color--custom-link-hover );
		}
	}

	// Subscribe form
	.wp-block-jetpack-subscriptions__form-elements {
		max-width: 300px;
	}
}
