@import './common.scss';
@import './tickets.scss';
@import './header.scss';

.grid-3x3 {
	@include grid-3x3;
}

.highlight-icon {
	filter: contrast( 10 ) brightness( 10 ) grayscale( 1 );
}

/*
 * Comment form
 */
.comment-form .dark {
	background-color: var( --wp--preset--color--base-2 );
	color: var( --wp--preset--color--contrast );
}

/*
 * Contact Form
 */
.contact-form {
	.contact-form__input-error {
		color: var( --wp--preset--color--custom-form-error );
	}

	&:focus {
		outline-width: 1px;
		outline-color: var( --wp--preset--color--custom-focus );
		outline-offset: -1px;
	}
}

/**
 * Subscribe form
 */
.wp-block-jetpack-subscriptions__form-elements {
	display: flex;
	flex-wrap: wrap;
	gap: 8px;

	input,
	button {
		box-sizing: border-box;
		padding: 8px;
		color: var( --wp--preset--color--contrast );
		background-color: var( --wp--preset--color--custom-dark );
		border: 1px solid var( --wp--preset--color--custom-dark );
		align-items: center;
		padding: 12px 16px;
		text-decoration: none;
		border-radius: 14px;
	}

	#subscribe-email {
		flex-grow: 2;
	}

	#subscribe-submit {
		flex-grow: 1;
	}

	.wp-block-button__link {
		width: 100%;
		margin: 0 !important; // :facepalm: jp
	}
}

.contact-form__warning-icon {
	display: none;
}

.page-slug-contact .contact-form__error {
	display: none;
}

.wp-site-blocks .contact-form-submission .go-back-message .link {
	color: var( --wp--preset--color--custom-link ) !important;
}

/**
 * section/patter: Announcement
 */
.announcement {
	border-style: dashed;
	box-shadow: 0 3px 3px var( --wp--preset--color--custom-dark );

	.wp-block-cover__image-background {
		filter: none;
		transition: filter .5s ease;
		filter: blur( 4px );
	}

	&:hover .wp-block-cover__image-background {
		filter: blur( 16px );
	}
}

/*
 * section/pattern: Sponsors
 */
.sponsors .wp-block-post {
	.wp-block-post-featured-image {
		a {
			padding: 8px;
		}
	}

	&.wcb_sponsor {
		background-color: var( --wp--preset--color--white );
		position: relative;
		border-radius: 8px;
		@include scanlines( 4px, rgba( 255, 255, 255, 0.6 ), 0.8s, infinite );
		transition: filter .5s ease;
		filter: invert( 0.8 ) grayscale( 0.7 );

		&:hover {
			filter: none;

			&:before {
				opacity: 0;
			}
		}
	}
}

/**
 * section/pattern: News
 */
 .news-section {
	.wp-block-post {
		filter: grayscale( 1 );
		.wp-block-post-title {
			text-shadow: 0 0 8px var( --wp--preset--color--custom-dark );
			a {
				text-decoration: none !important;
			}
		}

		.wp-post-image {
			filter: blur( 1px ) brightness( 2 ) contrast( 3 );
			transition: filter 500ms ease;
		}

		&:hover {
			filter: none;
			.wp-post-image {
				filter: none;
			}
		}
	}
}

/**
 * page: News
 */
.page-slug-news {
	.wp-block-post {
		filter: grayscale( 0.8 );

		.wp-block-post-featured-image {
			filter: blur( 2px );
			transition: filter 500ms ease 300ms;
		}

		&:hover {
			filter: none;
			.wp-block-post-featured-image {
				filter: none;
			}
		}
	}
}

/*
 * Sponsor single page - Header
 */
.sponsor-header {
	background: var( --wp--preset--color--white );
}

/*
 * Grid 100x100
 * background effect
 */
.grid-100-100 {
	position: relative;
	background-image:
		linear-gradient( to right, var( --wp--preset--color--base ) 1px, transparent 1px ),
		linear-gradient( to bottom, var(--wp--preset--color--base ) 1px, transparent 1px ),
		radial-gradient( circle, var(--wp--preset--color--base ) 3px, transparent 2px );
	background-size: 100px 100px, 100px 100px, 100px 100px;
	background-position: 0 0, 0 0, 50px 50px;
	background-attachment: fixed;

	.wp-block-columns {
		position: relative;
	}

	&::before {
		content: "";
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image:
			linear-gradient( to right, var( --wp--preset--color--base ) 1px, transparent 1px ),
			linear-gradient( to bottom, var( --wp--preset--color--base ) 1px, transparent 1px );
		background-size: 100px 100px, 100px 100px;
		background-position: 0 0, 0 0;
		background-attachment: fixed;
		animation: animateGrid 3s ease-in-out infinite;
		opacity: 1;
		transition: opacity .5s ease-in-out;
		pointer-events: none;
	}

	&:hover::before {
		animation-play-state: paused;
		opacity: 0;
	}
}

@keyframes animateGrid {
	0% {
		background-position: 0 0, 0 0;
	}
	
	100% {
		background-position: 100px 100px, 100px 100px;
	}
}

/**
 * Subscribe form
 */
#subscribe-email input {
	background-color: var( --wp--preset--color--base-2 );
	color: var( --wp--preset--color--contrast );
}


button:hover,
input[type="submit"]:hover {
	box-shadow: 0 0 3px var( --wp--preset--color--custom-link ) inset;
	color: var( --wp--preset--color--custom-link );
}

/**
 * Share buttons
 */
.jetpack-sharing-button__button {
	filter: grayscale(0.6) invert(0.1);
}

.jetpack-sharing-button__button:hover {
	filter: none;
}

.jetpack-sharing-button__button.share-facebook {
	padding: 0;
	width: 38px;
	height: 38px;
}

.social-logo.social-logo-facebook {
	width: 32px;
	height: 32px;
}

/**
 * Location - Mapbox
 */
.wp-block-jetpack-map .mapboxgl-popup-content {
	background-color: var(--wp--preset--color--base);
	color: var( --wp--preset--color--white );
}

.wp-block-jetpack-map__gm-container .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
	border-top-color: var( --wp--preset--color--base );
}

.mapboxgl-popup-close-button {
	color: var( --wp--preset--color--custom-link );
}

/**
 * Sponsors
 */
.speaker-avatar-wrapper {
	position: relative;
}

.speaker-avatar-normal {
	position: relative;
	top: 0;
	margin: 0;
}

/**
 * Schedule page
 */
.wordcamp-schedule__day {
	background-color: var( --wp--preset--color--base-2 );
}

#wordcamp-schedule__day-2024-10-19-tracks-all {
	.wordcamp-schedule__column-header {
		background-color: var( --wp--preset--color--base-2 );
	}

	.wordcamp-schedule__time-slot-header {
		box-shadow: 0 0 1px 1px var( --wp--preset--color--custom-dark );
	}

	.wordcamp-schedule__column-header {
		display: none;
	}
}

/**
 * section/pattern: Sessions
 */
.schedule-sessions {
	.wcb_session {
		margin: 0;
		border-top: 1px solid var( --wp--preset--color--custom-dark );
		border-left: 1px solid var( --wp--preset--color--custom-dark );
		border-right: 1px solid var( --wp--preset--color--custom-dark );
		border-bottom: 1px solid transparent;
		background-color: var( --wp--preset--color--base-2 );
		transition: filter .5s ease;

		.session-time {
			border: 1px dotted transparent;
		}

		.avatar {
			@include noise-photo();
			transition: filter .5s ease, border-color .5s ease;
		}

		&:hover {
			filter: none;
			background-color: var( --wp--preset--color--custom-dark );
			border: 1px dotted var( --wp--preset--color--contrast-3 );
			box-shadow: 0 0 2px var( --wp--preset--color--custom-dark );

			.session-time {
				border-color: var( --wp--preset--color--contrast-3 );
				background-color: var( --wp--preset--color--base-2 ) !important;
			}

			.avatar {
				filter: none;
				border-color: var( --wp--preset--color--contrast ) !important;
			}
		}

		&:nth-last-child( 1 ) {
			border-bottom: 1px solid var( --wp--preset--color--custom-dark );
			&:hover {
				border-bottom: 1px dotted var( --wp--preset--color--contrast-3 );
			}
		}
	}

	&:hover .wcb_session:not( :hover ) {
		filter: grayscale( 1 ) opacity( 0.4 ) blur( 1px );
	}
}

/*
 * section/pattern: Speakers - Organizers
 */
 .wcb_organizer,
 .wcb_speaker {
	border-color: 1px dotted var( --wp--preset--color--custom-dark );
	border-radius: 8px;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: var( --wp--preset--spacing--20 );
	padding-right: var( --wp--preset--spacing--10 );
	padding-bottom: var( --wp--preset--spacing--30 );
	padding-left: var( --wp--preset--spacing--10 );
	background-color: var( --wp--preset--color--base-2 ) !important;
	filter: grayscale( 1 );
	transition: filter 0.5s ease;

	.wp-block-wordcamp-avatar {
		// Handle speaker avatar resizing
		width: auto !important;
		height: 100% !important;

		img {
			@include noise-photo();
			transition: filter 0.5s ease;
			border-radius: 8px;
			display: block;
			height: 100%;
			margin: 0 auto;
		}
	}

	&:hover {
		filter: none;

		.wp-block-wordcamp-avatar img {
			filter: none;
		}
	}
}

.section-speakers-wrapper {
	&:hover .wcb_speaker:not( :hover ) {
		filter: grayscale( 1 ) opacity( 0.4 ) blur( 1px );
	}
}

.section-organizers-wrapper {
	&:hover .wcb_organizer:not( :hover ) {
		filter: grayscale( 1 ) opacity( 0.4 ) blur( 1px );
	}
}

// switch to grid layout on small screens
@media ( max-width: 800px ) {
    .wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid.wp-block-post-template-is-layout-grid {
        grid-template-columns: 1fr;
    }
}

/**
 * Get involved template
 */
.get-involved {
	.wp-block-column {
		a.wp-block-wporg-link-wrapper {
			@include grid-3x3;
			transition: filter 0.5s ease;
			filter: grayscale( 0.8 );
			border-color: var( --wp--preset--color--custom-relevant ) !important;
			color: var( --wp--preset--color--custom-relevant ) !important;

			&:before {
				transition: transform 200ms ease;
				@include dashicon( "\f486", inherit, 1.2em );
				text-shadow: 0 0 8px var( --wp--preset--color--custom-dark );
				font-size: 6em;
				display: block;
				margin: 0.2em auto 0.3em;
			}

			.wp-block-heading {
				padding: 0;
				margin: 0;
			}

			&:hover {
				filter: none;
				&:before {
					transform: scale( 1.2 );
				}

				text-decoration: none !important;

				.wp-block-heading {
					text-decoration: underline;
				}
			}
		}

		&:nth-child( 2 ) {
			a.wp-block-wporg-link-wrapper {
				color: var( --wp--preset--color--custom-relevant-2 ) !important;
				border-color: var( --wp--preset--color--custom-relevant-2 ) !important;

				&:before {
					content: "\f488";
				}
			}
		}

		&:nth-child( 3 ) {
			a.wp-block-wporg-link-wrapper {
				color: var( --wp--preset--color--custom-relevant-3 ) !important;
				border-color: var( --wp--preset--color--custom-relevant-3 ) !important;

				&:before {
					content: "\f313";
				}
			}
		}
	}
}

/*
 * Location / Venue section
 */
.venue-location-section {
	a.wp-block-wporg-link-wrapper {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		&:hover .wp-block-cover__image-background {
			filter: blur( 0 ) hue-rotate( 100deg ) grayscale( 0.3 );
		}
	}

	.wp-block-cover__image-background {
		filter: blur( 2px ) hue-rotate( 100deg ) grayscale( 1 );
		transition: filter 0.5s ease;
	}
}

/**
 * Blog post page
 */
.single-post {
	.blog-post-image img {
		filter: grayscale( 0.5 ) contrast( 2 ) blur( 1px ) hue-rotate( 45deg );

		animation: rotate-hue-color 40s infinite;

		&:hover {
			filter: none;
		}
	}

	@keyframes rotate-hue-color {
		0% {
			filter: grayscale( 0.5 ) contrast( 2 ) blur( 1px ) hue-rotate( 45deg );
		}

		100% {
			filter: grayscale( 0.5 ) contrast( 2 ) blur( 1px ) hue-rotate( 405deg );
		}
	}

	.entry-content {
		margin-top: 0;
	}

	// Link to language version
	.row-post-link-version {
		position: relative;
		top: -32px;
		background: rgba( 0, 0, 0, 0.3 );
		z-index: 5; // over the post content. below the header.
	}
}	

/**
 * Footer
 */
footer.wp-block-template-part {
	margin-top: 0;

	.wp-block-site-tagline {
		font-style: italic;
		opacity: 0.5;
		filter: blur( 1px );
		transition: opacity 0.5s ease, filter 0.5s ease;
	}

	&:hover {
		.wp-block-site-tagline {
			opacity: 1;
			filter: none;
		}
	}

	.wp-block-navigation-item__content {
		&:hover {
			color: var( --wp--preset--color--custom-link-hover );
		}
	}

	// Subscribe form
	.wp-block-jetpack-subscriptions__form-elements {
		max-width: 300px;
	}
}
