@import './common.scss';
@import './form.scss';

/**
 * Tickets
 */
 body.admin-bar #tix {
	padding: 0;
}

#tix {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;

	form {
		display: flex;
		flex-direction: column;
		@include form-elements();

		textarea {
			width: 100%;
			height: 100px;
		}
	}

	.tix-clear {
		display: none; // :facepalm:
	}

	/**
	 * Tickets - List (First step)
	 */
	 .tix_tickets_table.tix-tickets-list {
		@include table-to-two-columns();
		@include grid-3x3();

		position: relative;
		padding-bottom: 80px;

		.tix-discount {
			display: none;
		}

		tr.tix-row-coupon {
			position: absolute;
			left: 0;
			width: 100%;
			color: var( --wp--preset--color--custom-info-text );

			td {
				font-size: 18px;
				line-height: 1.5;
				padding: 0;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0 16px;
				flex-wrap: wrap;
				padding: 12px 0;

				strong {
					color: #76ff25;
					margin-left: 4px;
					animation: party 2s ease-in-out 5;
					font-size: 20px;
				}

				input[ type="submit" ] {
					font-size: 16px !important;
					height: 40px;
					line-height: 1em;
					padding: 0 16px;
				}
			}
		}
	}

	/**
	 * Tickets - Order Summary (Second step)
	 */
	.tix-order-summary,
	.tix-ticket-form {
		@include grid-3x3();
		margin-bottom: 16px;
		width: 100%;

		thead {
			border-bottom: 1px solid var( --wp--preset--color--contrast-3 );
			background-color: var( --wp--preset--color--custom-dark );
		}

		th, td {
			padding: 8px;
			white-space: nowrap;
		}

		td {
			text-align: right;

			&.tix-column-description {
				text-align: left;
			}
		}

		.tix-row-total {
			font-size: 1.2em;
		}
	}

	/**
	 * Tickets - Attendee Form (Third two)
	 */
	.tix-attendee-form {
		@include grid-3x3();
		margin-bottom: 32px;

		th {
			background-color: var( --wp--preset--color--custom-dark );
		}

		th, td {
			padding: 16px;
			border-bottom: 1px dotted rgba( 255, 255, 255, 0.3 );
		}

		.tix-left {
			min-width: 200px;
			font-size: 0.9em;
		}

		.tix-row-first-name,
		.tix-row-last-name,
		.tix-row-email {
			font-size: 1.1em;

			th, td {
				padding: 8px 16px;
			}

			input {
				width: 100%;
			}
		}

		.tix-row-first-name th, .tix-row-first-name td,
		.tix-row-last-name th, .tix-row-last-name td {
			border: 0;
		}

		label {
			display: inline-block;
			width: 100%;
		}	
	}

	/**
	 * Submit section
	 */
	.tix-submit {
		.tix-payment-method-container {
			color: var( --wp--preset--color--contrast );

			label {
				color: var( --wp--preset--color--contrast );
			}

			fieldset {
				@include grid-3x3();
				border-radius: 16px;
				.tix-alternate-payment-option {
					margin: 4px 0;
				}
			}
		}

		.tix-payment-method {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			gap: 32px;
		}

		button[ type="button" ] {
			font-size: 0.8em !important;

			&.tix-tab-selected,
			&:focus,
			&:active {
				background-color: var( --wp--preset--color--custom-dark );
				border: 1px solid var( --wp--preset--color--custom-link );
				outline: none;
			}
		}

		input[ type="submit" ].tix-checkout-button {
			color: var( --wp--preset--color--custom-checkout );
			text-transform: uppercase;
			white-space: nowrap;
			padding: 16px 32px;
			border: 2px solid var( --wp--preset--color--custom-dark );


			&:hover {
				border-color: 1px solid var( --wp--preset--color--custom-checkout );
				box-shadow: none;
			}
		}
	}

	.camptix-invoice-toggle-wrapper {
		label {
			margin-bottom: 16px;
		}
	}

	.tix_invoice_table {
		@include grid-3x3();
		margin-bottom: 16px;
		width: 100%;

		thead {
			border-bottom: 1px solid var( --wp--preset--color--contrast-3 );
			background-color: var( --wp--preset--color--custom-dark );
		}

		th, td {
			padding: 8px;
			white-space: nowrap;
		}

		td {
			text-align: right;

			input {
				width: 100%;
			}

			&.tix-column-description {
				text-align: left;
			}
		}

		.tix-row-total {
			font-size: 1.2em;
		}
	}
}

.tix-error,
.tix-info {
	padding: 16px 32px;
	background-color: var( --wp--preset--color--base-2 );
	color: var( --wp--preset--color--custom-info-text );
	margin-bottom: 8px;
}

.tix-error {
	color: var( --wp--preset--color--custom-error-text );
	background-color: var( --wp--preset--color--custom-error-background );
	border-color: var( --wp--preset--color--custom-error-text );
}

@media ( max-width: 800px ) {
	#tix {
		min-width: auto;

		.tix-payment-method {
			justify-content: space-between;
		}
	}
}

@media ( max-width: 600px ) {
	#tix {
		min-width: auto;
		/**
		 * Tickets - List (First step)
		 */
		.tix_tickets_table.tix-tickets-list {
			thead {
				font-size: 16px;
			}

			tbody {
				font-size: 22px;
			}

			tr {
				th, td {
					padding-left: 8px;
					padding-right: 8px;
				}
			}
		}
		
		/*
		* Tickets - Order Summary (Second step)
		*/
		.tix-order-summary {
			font-size: 16px;
			
			th, td {
				white-space: normal;
				padding: 4px 2px;
			}
		}

		/**
		 * Tickets - Attendee Form (Step two)
		 */
		.tix-attendee-form {
			margin-bottom: 16px;
			font-size: 16px;

			th, td {
				padding: 4px;
			}

			.tix-left {
				min-width: 180px;
			}
		}
	}

	/**
	 * Tickets - Attendee Form (Step two)
	 */
	.page-slug-tickets .entry-content {
		padding-left: 8px;
		padding-right: 8px;
	}
}

@keyframes party {
	0% {
		filter: hue-rotate( 360deg );
	}

	100% {
		filter: hue-rotate( 0deg );
	}
}