@import './common.scss';

/**
 * Tickets
 */
 body.admin-bar #tix {
	padding: 0;
}

#tix {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;

	form {
		display: flex;
		flex-direction: column;
	}

	.tix-clear {
		display: none; // :facepalm:
	}
	/*
	 * Form elements
	 */
	select,
	button,
	input {
		box-sizing: border-box;
		padding: 8px;
		color: var( --wp--preset--color--contrast );
		background-color: var( --wp--preset--color--custom-dark );
		border: 1px solid var( --wp--preset--color--custom-dark );
		font-family: var( --wp--preset--font-family--chivo-mono );
		font-size: var(--wp--preset--font-size--medium) !important;
	}

	button,
	.tix-submit input[ type="submit" ].tix-checkout-button,
	input[ type="submit" ] {
		align-items: center;
		display: inline-flex;
		justify-content: center;
		gap: .5em;
		padding-top: 0.8rem;
		padding-right: 1.6rem;
		padding-bottom: 0.98rem;
		padding-left: 1.6rem;
		text-decoration: none;
		border-radius: 14px;
	}

	/**
	 * Tickets - List (First step)
	 */
	 .tix_tickets_table.tix-tickets-list {
		@include table-to-two-columns();
		@include grid-3x3();
	}

	/**
	 * Tickets - Order Summary (Second step)
	 */
	.tix-order-summary,
	.tix-ticket-form {
		@include grid-3x3();
		margin-bottom: 16px;
		width: 100%;

		thead {
			border-bottom: 1px solid var( --wp--preset--color--contrast-3 );
			background-color: var( --wp--preset--color--custom-dark );
		}

		th, td {
			padding: 8px;
			white-space: nowrap;
		}

		td {
			text-align: right;

			&.tix-column-description {
				text-align: left;
			}
		}

		.tix-row-total {
			font-size: 1.2em;
		}
	}

	/**
	 * Tickets - Attendee Form (Third two)
	 */
	.tix-attendee-form {
		@include grid-3x3();
		margin-bottom: 32px;

		th {
			background-color: var( --wp--preset--color--custom-dark );
		}

		th, td {
			padding: 16px;
			border-bottom: 1px dotted rgba( 255, 255, 255, 0.3 );
		}

		.tix-left {
			min-width: 200px;
			font-size: 0.9em;
		}

		.tix-row-first-name,
		.tix-row-last-name,
		.tix-row-email {
			font-size: 1.1em;

			th, td {
				padding: 8px 16px;
			}

			input {
				width: 100%;
			}
		}

		.tix-row-first-name th, .tix-row-first-name td,
		.tix-row-last-name th, .tix-row-last-name td {
			border: 0;
		}

		label {
			display: inline-block;
			width: 100%;
		}	
	}

	/**
	 * Submit section
	 */
	.tix-submit {
		.tix-payment-method-container {
			color: var( --wp--preset--color--contrast );

			label {
				color: var( --wp--preset--color--contrast );
			}

			fieldset {
				@include grid-3x3();
				border-radius: 16px;
				.tix-alternate-payment-option {
					margin: 4px 0;
				}
			}
		}

		.tix-payment-method {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			gap: 32px;
		}

		button[ type="button" ] {
			font-size: 0.8em !important;

			&.tix-tab-selected,
			&:focus,
			&:active {
				background-color: var( --wp--preset--color--custom-dark );
				border: 1px solid var( --wp--preset--color--custom-link );
				outline: none;
			}
		}

		input[ type="submit" ].tix-checkout-button {
			color: var( --wp--preset--color--custom-relevant );
			text-transform: uppercase;
			white-space: nowrap;
			padding: 16px 32px;
			border: 1px solid var( --wp--preset--color--custom-dark );


			&:hover {
				border: 1px solid var( --wp--preset--color--custom-relevant-hover );
				color: var( --wp--preset--color--custom-relevant-hover );
				box-shadow: none;
			}
		}
	}

	.tix-info {
		padding: 16px 32px;
		background-color: var( --wp--preset--color--base-2 );
		border: 1px solid var( --wp--preset--color--custom-dark );
		color: var( --wp--preset--color--custom-info );
		border-left-width: 10px;
	}
}

@media ( max-width: 800px ) {
	#tix {
		min-width: auto;

		.tix-payment-method {
			justify-content: space-between;
		}
	}
}

@media ( max-width: 600px ) {
	#tix {
		min-width: auto;
		/**
		 * Tickets - List (First step)
		 */
		.tix_tickets_table.tix-tickets-list {
			thead {
				font-size: 16px;
			}

			tbody {
				font-size: 22px;
			}

			tr {
				th, td {
					padding-left: 8px;
					padding-right: 8px;
				}
			}
		}
		
		/*
		* Tickets - Order Summary (Second step)
		*/
		.tix-order-summary {
			font-size: 16px;
			
			th, td {
				white-space: normal;
				padding: 4px 2px;
			}
		}

		/**
		 * Tickets - Attendee Form (Step two)
		 */
		.tix-attendee-form {
			margin-bottom: 16px;
			font-size: 16px;

			th, td {
				padding: 4px;
			}

			.tix-left {
				min-width: 180px;
			}
		}
	}

	/**
	 * Tickets - Attendee Form (Step two)
	 */
	.page-slug-tickets .entry-content {
		padding-left: 8px;
		padding-right: 8px;
	}
}